@charset "utf-8";
/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Tahoma, Arial, simsun, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}
h1 {
	font-size: 1.667em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.333em;
}
h4 {
	font-size: 1.167em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.833em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#67488c;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0.8em;
}
/* -----------------------------------------------END reset--------------------------------------------- */

/* ---------------------------------------------START global-------------------------------------------- */
.clf {
	clear:both;
	height:0;
	overflow:hidden;
	width:0;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.pt5 {
	padding-top:5px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}
.pb5 {
	padding-bottom:5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom:20px;
}
.mb5 {
	margin-bottom:5px;
}
.mb10 {
	margin-bottom:10px;
}
.mb15 {
	margin-bottom:15px;
}
.mb20 {
	margin-bottom:20px;
}
.p20 {
	padding:20px;
}
.linkbar {
	overflow:hidden;
}
/* END CSS RESET */
body {
	background-color: #FFF;
	color: #222;
}
a {
	text-decoration:none;
	color:#06F;
}
a:hover {
	text-decoration:underline;
	color:#09F;
}
/**/
.content_style p, .content_style ol, .content_style table, .content_style ul {
	margin-bottom:10px;
}
/*
@public style

@v3_content_style
*/
.v3_content_style {
	font-size:14px;
}
.v3_content_style h2 {
	font-size:20px;
	font-weight:normal;
}
.v3_content_style p {
	margin-bottom:10px;
}
.v3_content_style ul, .content_style ol {
	margin-bottom:10px;
}
/* 
@public style
mod_page_loaction_info 
*/

.mod_page_loaction_info {
	width:960px;
	margin:0 auto;
	height:41px;
	padding-top:15px;
	position:relative;
	margin-bottom:10px;
}
.mod_page_loaction_info .mod_crumb_nav {
	height:13px;
	width:100%;
	line-height:13px;
	color:#979797;
	text-align:right;
	font-size:12px;
	position:absolute;
	right:0px;
	top:25px;
}
.mod_page_loaction_info .mod_crumb_nav a {
	color:#979797;
	font-size:12px;
}
.mod_page_loaction_info .mod_crumb_nav span {
	color:#979797;
	font-size:12px;
}
/* 
@public style
@page_title 
*/
.page_title {
	margin-bottom:10px;
	font-size:22px;
	line-height:38px;
	height:41px;
	overflow:hidden;
	margin:0 auto;
	width:960px;
}
.page_title h1 .line_h21_purple {
	height:38px;
	width:1px;
	line-height:38px;
	background:url(../../images/zh/line_h21_purple.gif) center center no-repeat;
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
}
.page_title h1 {
	font-size:22px;
	line-height:38px;
	height:41px;
	margin:0;
	padding:0px;
	color:#65468c;
	font-weight:normal;
}
.page_title h1 span.ptit_sub_1 {
	display:inline-block;
	width:121px;
	height:41px;
	line-height:38px;
	color:#fff;
	background:url(../../images/zh/page_title_sub_tit_bg_1.png) center top no-repeat;
	text-align:center;
}
.page_title h1 span.ptit_sub_1 a {
	color:#fff;
}
.page_title h1 span.ptit_sub_2 {
	display:inline-block;
	width:181px;
	height:41px;
	line-height:38px;
	color:#fff;
	background:url(../../images/zh/page_title_sub_tit_bg_2.png) center 2px no-repeat;
	text-indent:10px;
}
.page_title h1 span.ptit_sub_2 a {
	color:#fff;
	text-decoration:none;
}
.page_title h1 span.ptit_sub_2 a:hover {
	text-decoration:none;
}
.page_title h1 span.ptit_sub_3 {
	display:inline-block;
	width:194px;
	height:41px;
	line-height:38px;
	color:#fff;
	background:url(../../images/zh/page_title_sub_tit_bg_3.png) center 2px no-repeat;
	text-indent:10px;
}
.page_title h1 span.ptit_sub_3 a {
	color:#fff;
}
/*

@public_style
@layout 
*/

.v3_layout_c2 {
	width:960px;
	margin:0 auto;
}
.v3_layout_c2 .v3_layout_c2_main {
	width:634px;
	float:left;
	display:inline;
}
.v3_layout_c2 .v3_layout_c2_sub {
	width:306px;
	float:right;
	display:inline;
}
.v3_layout_c2 .clf {
	clear:both;
	height:0;
	overflow:hidden;
	width:0;
}
/*
@public style
middle content box width 960
*/
.v3_mid_box_w960 {
	width:960px;
	margin:0 auto;
}
/*
full width banner
*/
.fw_banner {
	height: 347px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.fw_banner .pic {
	height: 347px;
	left: 50%;
	margin-left: -1000px;
	position: absolute;
	top: 0;
	width: 2000px;
	text-align:center;
}
/*
@public_style
@list
*/
.list_pink_dot {
}
.list_pink_dot li {
	line-height:18px;
	padding-left:15px;
	background:url(../../images/zh/i7_pink_dot.png);
	background-position: left 6px;
	background-repeat:no-repeat;
}
.list_gray_i4_dot {
}
.list_gray_i4_dot li {
	line-height:18px;
	padding-left:15px;
	background:url(../../images/zh/i4_gray_dot.png) left 8px no-repeat;
}
/*
@public style
@button
*/
.btn_pink_flat_h24 {
	display:inline-block;
	height:24px;
	background-image:url(../../images/zh/btn_pink_flat_h24.png);
	background-position:left top;
	line-height:24px;
	padding-left:9px;
}
.btn_pink_flat_h24 span {
	display:inline-block;
	height:24px;
	background-image:url(../../images/zh/btn_pink_flat_h24.png);
	background-position:right -25px;
	line-height:24px;
	text-align:center;
	font-size:14px;
	color:#4e287e;
	padding-right:9px;
	vertical-align:top;
}
/*
@public style
@bg_fw_gradient_2dir  页面100%宽的双向渐变背景 ,应用于大部分keypage
*/
.bg_fw_gradient_2dir {
	width:100%;
	background:url(../../images/zh/bg_fw_gradient_2dir_top.png) center top repeat-x #fff;
}
.bg_fw_gradient_2dir .bg_fw_gradient_2dir_bottom {
	width:100%;
	background:url(../../images/zh/bg_fw_gradient_2dir_bottom.png) center bottom repeat-x;
	padding-top:23px;
	padding-bottom:38px;
}
/*
@public style
@v3_purple_inner_grow_box_w960  免责条款页面960宽的内容box
*/
.v3_purple_inner_grow_box_w960 {
	width:960px;
	margin:0 auto;
	background:url(../../images/zh/v3_purple_inner_grow_box_w960_bg_repeat.png) left top repeat-y;
}
.v3_purple_inner_grow_box_w960 .v3_pigbox_w960_bg_top {
	width:910px;
	padding:25px;
	background:url(../../images/zh/v3_purple_inner_grow_box_w960_bg_top.png) left top no-repeat;
}
.v3_purple_inner_grow_box_w960 .v3_pigbox_w960_bg_bottom {
	width:960px;
	background:url(../../images/zh/v3_purple_inner_grow_box_w960_bg_bottom.png) left bottom no-repeat;
}
/*
960宽1像素高的分割线
*/

.v3_line_spe_w960 {
	padding-top:35px;
	margin-bottom:35px;
	background:url(../../images/zh/line_w960_h1.png) center bottom no-repeat;
	height:1px;
	margin-left:auto;
	margin-right:auto;
	width:960px;
	line-height:1px;
	font-size:0px;
}
.v3_line_spe_w634 {
	margin-top:20px;
	margin-bottom:20px;
	background:url(../../images/zh/line_w634_h1.png) center top no-repeat;
	height:1px;
}
/*
datepicker 年月可选
*/
.ui-datepicker-title {
	font-size:12px;
	line-height:1.3em;
}
#ui-datepicker-div select.ui-datepicker-year {
	width:50px;
	font-size:12px;
	line-height:1.3em;
}
#ui-datepicker-div select.ui-datepicker-month {
	width:50px;
	font-size:12px;
	line-height:1.3em;
}
/* 按钮  v3_abtn_purple_h21 */
.v3_abtn_purple_h21 {
	display:inline-block;
	height:21px;
	line-height:21px;
	padding-left:11px;
	background-image:url(../../images/zh/v3_abtn_purple_h21.png);
	background-repeat:no-repeat;
	background-position:left top;
	overflow:hidden;
	vertical-align:top;
}
.v3_abtn_purple_h21 span {
	display:inline-block;
	height:21px;
	line-height:21px;
	padding-right:11px;
	background-image:url(../../images/zh/v3_abtn_purple_h21.png);
	background-repeat:no-repeat;
	background-position:right -30px;
	color:#fff;
	font-size:12px;
	overflow:hidden;
	vertical-align:top;
}
/*单行输入框*/
.v3_input_text_h22 {
	display:inline-block;
	height:22px;
	background-image:url(../../images/zh/v3_input_text_bg_h22.png);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:6px;
	vertical-align:top;
}
.v3_input_text_h22 span {
	display:inline-block;
	height:22px;
	background-image:url(../../images/zh/v3_input_text_bg_h22.png);
	background-position:right -30px;
	background-repeat:no-repeat;
	padding-right:6px;
		vertical-align:top;
}
.v3_input_text_h22 span em{
		vertical-align:top;
}
.v3_input_text_h22 .input_text {
	background-image:none;
	background-color:transparent;
	padding-left:0px;
	padding-right:0px;
	vertical-align:top;
}
 .v3_input_text_h22 .input_text:foucs {
 border:none;
}
.v3_input_text {
	height: 25px;
	line-height: 25px;
	background-position: left top;
	background-repeat: no-repeat;
	border: medium none;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 5px;
	background-color:transparent;
	width:131px;
	background-image:url(../../images/zh/v3_input_bg_w141.png);
}

.error .v3_input_text{
		background-position: left -30px;
}

.v3_input_text_w275{
	width:265px;
	background-image:url(../../images/zh/v3_input_bg_w275.png);
}
.v3_input_text_w237{
	width:227px;
	background-image:url(../../images/zh/v3_input_bg_w237.png);
}
.v3_input_text_w67{
	width:57px;
	background-image:url(../../images/zh/v3_input_bg_w67.png);
}

.v3_input_text_w141{
	width:131px;
	background-image:url(../../images/zh/v3_input_bg_w141.png);
}

/*
select 美化
*/

.v3_cus_select_wrap{
	width:99px;	
	font-size:12px;
}
.v3_cus_select_wrap .v3_select_hd{
	display:block;
	width:70px;
	height:30px;
	background:url(../../images/zh/v3_select_bg_w99.png) left top no-repeat;
	line-height:30px;
	padding-left:10px;
	padding-right:20px;
	cursor:pointer;
	overflow:hidden;
}

.v3_cus_select_wrap .v3_select_bd{
	overflow-y:auto;
	width:100%;
	max-height:150px;
	overflow-x:hidden;
}

.v3_cus_select_wrap .v3_select_bd li{
	height:20px;	
		padding-left:10px;
		cursor:pointer;
		background-color:#fff;
	word-break:keep-all;
		word-wrap:normal;
		white-space:nowrap;
			
		
}

.v3_cus_select_wrap .v3_select_bd li:hover,.v3_cus_select_wrap .v3_select_bd li.selected{
	background-color:#fafafa;	

}

/*
高30像素的的紫色按钮
*/
.v3_abtn_purple_h30{
	display:inline-block;
	line-height:28px;
	height:30px;
	vertical-align:top;
	background-image:url(../../images/zh/v3_abtn_purple_h30.png);
	background-position:left top ;
	background-repeat:no-repeat;
	padding-left:14px;	
}
.v3_abtn_purple_h30 span{
	display:inline-block;
	line-height:28px;
	height:30px;
	vertical-align:top;
	background-image:url(../../images/zh/v3_abtn_purple_h30.png);
	background-position:right -50px ;
	background-repeat:no-repeat;
	padding-right:14px;	
	color:#fff;
	font-size:14px;
}

/* v3_inner_grow_box_w 宽度为960 内发光的box */
.v3_inner_grow_box_w{
width:960px;
	
}
.v3_inner_grow_box_w .bg_top{
width:960px;
height:37px;
background:url(../../images/zh/v3_inner_grow_box_w_bg_top.jpg) left top no-repeat;
	
}
.v3_inner_grow_box_w .bg_bottom{
width:960px;
height:38px;
background:url(../../images/zh/v3_inner_grow_box_w_bg_bottom.jpg) left top no-repeat;
	
}
.v3_inner_grow_box_w .bg_mid{
width:960px;
background:url(../../images/zh/v3_inner_grow_box_w_bg_mid.jpg) left top repeat-y;
	
}
/*START v3_gradient_box_purple_b2t_w   960宽 box shadow box  */
.v3_gradient_box_purple_b2t_w {
	width:960px;
	padding-bottom:8px;
	background:url(../../images/zh/v3_gradient_box_purple_b2t_w_bg_bottom.png) left bottom no-repeat;
}
.v3_gradient_box_purple_b2t_w_top {
	height:8px;
	background:url(../../images/zh/v3_gradient_box_purple_b2t_w_bg_top.png) left top no-repeat;
}
.v3_gradient_box_purple_b2t_w_mid {
	background:url(../../images/zh/v3_gradient_box_purple_b2t_w_bg_repeat.png) left top repeat-y;
	padding-left:3px;
	padding-right:3px;
}
.v3_gradient_box_purple_b2t_w_mid_inner {
	padding-left:17px;
	padding-right:17px;
	padding-top:10px;
	padding-bottom:10px;
	width:920px;
	overflow:hidden;
}
/*
table 样式
.v3_data_table
*/
.v3_data_table {
	table-layout:fixed;
	width:958px;
	border-left:1px solid #d7afd8;
	border-right:1px solid #d7afd8;
	border-bottom:1px solid #d7afd8;
	margin-bottom:20px;
}
.v3_data_table thead th, .v3_data_table thead td {
	background-color:#d7afd8;
	font-size:16px;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-weight:bold;
}
.v3_data_table tbody th, .v3_data_table tbody td {
	font-size:16px;
	color:#666666;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
.v3_data_table tbody th {
	color:#935eb1;
}
.v3_data_table th, .v3_data_table td {
	border-right:1px solid #e6dbea;
}
.v3_data_table th.last_col, .v3_data_table td.last_col {
	border-right:none;
}
.v3_data_table .bg_pink th, .v3_data_table .bg_pink td {
	background-color:#f7eff8;
}



.v3_input_text_h22 .has_label{position:relative;}
.v3_input_text_h22 .has_label label{left:0; position:absolute; top:0; text-align:center;}


/* 水平分割线 */
.v3_sp_line_h1_dot_w{
	padding-bottom:15px;
	background:url(../../images/zh/v3_sp_line_h1_dot_w.png) left bottom repeat-x;	
}
/*@bruce 增加右侧悬浮窗 20145.12*/
.statement_trigger{background:url(../../images/r_ad.png) no-repeat;width:199px;height:110px;position:fixed;top:45%;right:0;cursor:pointer;z-index:999;}
.anmum_statement{background:#fff;z-index:999;overflow:hidden;}
.anmum_statement_inner{margin:20px 0;padding:0 43px;width:695px;height:500px;}
.anmum_statement_inner h2{color:#213d87;font-size:17px;font-weight:bold;}
.anmum_statement_inner p{font-size:14px;text-indent:2em;color:#666;}
.anmum_statement_inner span{display:block;}
.anmum_statement_inner strong{font-weight:bold;}

/*滚动条样式*/
.jspVerticalBar{right:13px!important;width:5px!important;}
